body {
  perspective: 600px;
  /* padding: 50px; */
}

.front,
.back,section {
  width: 250px;
  height: 400px;
  background-color: blueviolet;
  position: absolute;
}

section {
  margin: auto;
  transform-style: preserve-3d;
  transition: 2s;
  position: relative;
}

.front {
  backface-visibility: hidden;
  z-index: 3;
}

.back {
  background-color: brown;
  transform: rotateY(180deg);
}

section:hover {
  transform: rotateY(180deg);
  transition: 1s;
}